.section {
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
}

.wrapper {
	height: 100%;
}

/*layout*/
.container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.flex {
	display: flex;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-col {
	flex-direction: column;
}

/*button*/
.button {
	display: inline-block;
	background-color: var(--blue);
	color: var(--white);
	padding: 1.125rem 2.2rem;
	font-weight: var(--bold);
	font-size: var(--fs-h4);
	transition: background-color 0.3s ease-in-out;
	border-radius: 0.5rem;
}

.button--main {
	display: inline-flex;
	background-color: var(--blue);
	gap: 0.6rem;
	transition: background-color 0.3s ease;
}

.button--main:hover {
	background-color: #210f86;
}

/*text*/
.title {
	font-size: var(--fs-h2);
	line-height: var(--fh-h2);
	font-weight: var(--bold);
	margin-bottom: 3.75rem;
}

.title--color {
	color: var(--blue);
}

.text {
	font-size: var(--fs-subtitle);
	line-height: var(--fh-subtitle);
	opacity: 0.7;
}

@media screen and (max-width: 1280px) {
	.container {
		max-width: auto;
		padding: 0 4rem;
	}
}

@media screen and (max-width: 992px) {
	.section {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.button {
		padding: 1rem;
	}
}

@media screen and (max-width: 576px) {
	.section {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	.container {
		max-width: auto;
		padding: 0 2rem;
	}
}
