@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Raleway:wght@400;700&display=swap');
@import '@/style/root.css';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: var(--family-body);
	line-height: var(--fh-main);
	background: var(--bg-body);
	color: var(--clr-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--family-title);
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

button {
	cursor: pointer;
	border: none;
	outline: none;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
