.section__contact {
	padding-bottom: 0;
}

.contact__block {
	width: 45%;
	background-color: var(--blue);
	color: var(--white);
	padding: 7.5rem 11rem 13rem 5rem;
	background-image: url('@/assets/contact/info-decor.png');
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.title__contact {
	margin-bottom: 0.5rem;
}

.contact__subtitle {
	font-size: var(--fs-subtitle);
	line-height: var(--fh-subtitle);
	font-weight: var(--regular);
	margin-bottom: 5rem;
	opacity: 0.7;
}

.contact__info {
	gap: 2.5rem;
}

.link__contact {
	font-size: var(--fs-h5);
	font-weight: var(--bold);
}

.contact__box {
	align-items: center;
}

.contact-icon {
	padding: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;
}

.form__block {
	width: 55%;
	align-items: center;
	background-color: #e0e0e020;
	background-image: url('@/assets/contact/form-decor.png');
	background-repeat: no-repeat;
	background-position: 90% 100%;
}

.form {
	width: 570px;
	padding-left: 8rem;
}

.form__title {
	font-size: var(--fs-h3);
	font-weight: var(--bold);
	line-height: var(--fh-h3);
	margin-bottom: 2.5rem;
}

.form__attribute {
	display: block;
	font-size: var(--fs-main);
	font-weight: var(--bold);
	line-height: var(--fh-main);
	opacity: 0.6;
	transition: color 0.3s ease;
}

.form__inputs {
	gap: 1.8rem;
	margin-bottom: 2.5rem;
}

.form__input {
	width: 100%;
	font-size: var(--fs-subtitle);
	line-height: var(--fsh-subtitle);
	outline: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--gray);
	transition: border-bottom 0.3s ease, color 0.3s ease;
}

.form__message {
	height: 8rem;
	resize: none;
}

.form__input::placeholder {
	opacity: 0.6;
}

.form label:hover .form__attribute {
	color: var(--blue);
}

.form label:hover .form__input {
	border-bottom: 1px solid #381ddb60;
}

.form__input:focus {
	color: var(--blue);
	border-bottom: 1px solid var(--blue);
}

.form__input:focus .form__attribute {
	opacity: 1;
	color: var(--blue);
}

@media screen and (max-width: 1280px) {
	.form {
		width: 470px;
		padding-left: 5rem;
	}

	.contact__block {
		padding: 8rem 5rem;
	}
}

@media screen and (max-width: 992px) {
	.wrapper__contact {
		flex-direction: column;
	}

	.contact__block,
	.form__block,
	.form {
		width: 100%;
	}

	.form {
		padding: 4rem;
	}
}

@media screen and (max-width: 576px) {
	.contact__block {
		padding: 6rem 3rem;
	}
}

@media screen and (max-width: 360px) {
	.contact__info {
		flex-direction: row;
		justify-content: space-between;
	}

	.contact__box span {
		display: none;
	}
}
