.section--shots {
	overflow: hidden;
}

.shots__slider {
	position: relative;
}

.shots__slide {
	width: 370px;
	margin-right: 2rem;
	opacity: 0.3;
}

.slide__img {
	margin-bottom: 1.5rem;
}

.shots__analytic {
	gap: 2.5rem;
	margin-bottom: 1rem;
}

.shots__analytic-icon {
	margin-right: 0.5rem;
	width: 1.5rem;
	fill: var(--dark);
	transition: fill 0.2s ease;
	cursor: pointer;
}

.shots__heart-text {
	font-size: var(--fs-h5);
	font-weight: var(--bold);
}

.shots__slide-title {
	font-size: var(--fs-subtitle);
	margin-bottom: 0.8rem;
}

.shots__tags {
	font-size: var(--fs-main);
	color: #22222276;
}

.icon-heart:hover {
	fill: var(--red);
}

.icon-message:hover {
	fill: var(--gray);
}

.shots__slider .flickity-button {
	background: #7878786d;
	width: 90%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: -3%;
	position: absolute;
	align-items: center;
	top: 50%;
	transform: translate(0%, -50%);
	justify-content: space-between;
	transition: scale 0.3s ease, background 0.3s ease;
	scale: 1;
}
.shots__slider .flickity-button:hover {
	scale: 1.1;
	background: #3c3c3c6d;
}

.shots__slider .flickity-prev-next-button {
	width: 3rem;
	height: 3rem;
	padding: 1rem;
	border-radius: 50%;
}
/* icon color */
.shots__slider .flickity-button-icon {
	fill: var(--white);
}
/* position outside */
.shots__slider .flickity-prev-next-button.previous {
	left: 0;
}
.shots__slider .flickity-prev-next-button.next {
	right: 0;
}

@media screen and (max-width: 576px) {
	.shots__slide {
		width: 300px;
	}

	.shots__slider .flickity-button {
		margin-left: 2%;
		margin-right: 2%;
	}
}
